header h1 {
  padding: 0;
}

header,
header a {
  padding: 15px;
  background-color: #ccc;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

header a {
  background-color: lightcoral;
  text-decoration: none;
  border-radius: 10px;
}
